//BOX
@boxWidth:          300px;
@boxPadding:		20px;
@boxOffset:          10px;
@boxFooterHeight:	25px;

//FOOTER
@footerHeight:		20px;

@favouriteColor:    #968249;
@hotPink:           #fe57a1;



/* ------------------------------------------------ */
/* bootstrap overrides */

.btn-primary,
.btn-primary:hover,
.btn-primary:active {
    background-color: #968249;
    background-image: none;
}
/* ------------------------------------------------ */

body {
    background-color:#f4f4f4;
}

a,
#login-buttons a {
    text-decoration: none;
    color:@favouriteColor;
}
a:hover{
    text-decoration: none;
    color:black;
}

.container-fluid
{
    padding:0px;
}

#new-smark
{
    width:425px;
}

.main-container
{
    margin-bottom:40px;
}

.loginButtons
{
    float:right;
    margin-right:20px;
}


.timeline-header,
.timeline {
    position:relative;
}

.fav-only
{
    position:absolute;
    left:0px;
    /*top:-35px;*/
    display:hidden;
    /*float:right;*/
}

.box {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #EDEDED;
    display: block;
    margin-bottom: 10px;
    width: @boxWidth;
    position:absolute;
    font-family: Georgia;
    font-size:14px;
    
    /*
    -webkit-transition: all 0.3s ease-out;  
     -moz-transition: all 0.3s ease-out;  
       -o-transition: all 0.3s ease-out;  
          transition: all 0.3s ease-out;  
          */
          
}

.box.favourite
{
    border:1px solid @favouriteColor;
}

.box a {
	display:block;
}

.box .inner {
    cursor: pointer;
    padding: @boxPadding;
    width: (@boxWidth - 2 * @boxPadding);
    color: #000000;
    font-size: 14px;
    line-height: 135%;
}

.box .embedly
{
	margin:10px 0px 0px 0px;
}

.box .footer {
    border-top: 1px solid #EDEDED;
    height: @boxFooterHeight;
    line-height: @boxFooterHeight;
    padding: 5px @boxPadding;
    position: relative;

    color: #999999;
    font-family: Arial;
    font-size: 11px;
}

.box .footer .avatar,
.box .footer .tags
{
    float:left;
}

.box .footer .util
{
    float:right;
    margin-top:-2px;
}

.box .footer .util .time
{
    display:block;
}

.box .footer:hover .util .time
{
    display:none;
}

.box .footer .util .useredit
{
    display:none;
    float:right;
}

.box .footer:hover .util .useredit
{
    display:block;
}

.box .footer .icons,
.box .footer .time .icon-heart {
    opacity: 0.6;
    cursor:pointer;
    margin-top:-1px;
}

.box .footer .icons:hover {
    opacity: 1.0;
}

.box .footer .time .icon-heart
{
    margin-left:3px;
    margin-top:-1px;
}

.box .footer .useredit .icon-heart
{
    margin-left:15px;
}

.box.favourite .footer .useredit .icon-heart
{
    opacity: 1.0;
}

.box .footer .tags {
    width:100%;
}

.box .footer .tags i {
    float:right;
}

.box .footer .tags a {
    float:right;
    display:inline;
    margin-right: 3px;
}



.footer-row
{
    background:#bbbbbb;
    height:@footerHeight;
    position:fixed;
    bottom:0px;
    left:0px;
    padding:0px 20px;
    width:100%;
    font-size:12px;
    
}

.footer-row,
.footer-row a
{
    color:#333333;
    text-decoration:none;
}

.footer-row a:hover
{
    color:#000000;
}

.footer-row span
{
    margin-right:5%;
}




.beta-ribbon
{
    position:fixed;
    bottom:0px;
    right:4%;

    -webkit-transform: rotate(180deg);  /* Safari 3.1+, Chrome */
     -moz-transform: rotate(180deg);  /* Firefox 3.5-15 */
      -ms-transform: rotate(180deg);  /* IE9+ */
       -o-transform: rotate(180deg);  /* Opera 10.5-12.00 */
          transform: rotate(180deg);  /* Firefox 16+, Opera 12.50+ */
}

.vert-flag {
    -moz-box-shadow: -2px 0 1px rgba(0, 0, 0, 0.35);
    -webkit-box-shadow: -2px 0 1px rgba(0, 0, 0, 0.35);
    -o-box-shadow: -2px 0 1px rgba(0, 0, 0, 0.35);
    box-shadow: -2px 0 1px rgba(0, 0, 0, 0.35);
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #968249), color-stop(100%, #614D2B));
    background-image: -webkit-linear-gradient(#968249, #614D2B);
    background-image: -moz-linear-gradient(#968249, #614D2B);
    background-image: -o-linear-gradient(#968249, #614D2B);
    background-image: -ms-linear-gradient(#968249, #614D2B);
    background-image: linear-gradient(#968249, #614D2B);
    display: -moz-inline-box;
    -moz-box-orient: vertical;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    text-align: center;
    width: 50px;
    position: absolute;
    padding-bottom: 50px;
    top: -2px;
    padding-top: 10px;
    left: 10px;
    color: #fff;
}
.vert-flag {
    *display: inline;
}
.vert-flag:before {
    content: " ";
    display: block;
    height: 0;
    width: 0;
    border-style: solid;
    border-width: 25px;
    border-color: transparent;
    left: 0;
    border-bottom-color: #f4f4f4;
    position: absolute;
    bottom: -1px;
}


@media (max-width: 767px) {
  body {
    padding:0px;
  }
  .container-fluid
  {
    margin:0px 10px;
  }
  #new-smark
  {
    max-width:@boxWidth - 12;
  }
  .row-fluid>.span1
  {
    display:none;
  }
  textarea { 
    margin-bottom:44px;
  }
}



