//BOX
@boxWidth:          300px;
@boxPadding:		20px;
@boxOffset:          10px;
@boxFooterHeight:	25px;

//FOOTER
@footerHeight:		20px;

@favouriteColor:    #968249;



/* ------------------------------------------------ */
/* bootstrap overrides */

.btn-primary,
.btn-primary:hover,
.btn-primary:active {
    background-color: #968249;
    background-image: none;
}
/* ------------------------------------------------ */

body {
    background-color:#f4f4f4;
}

a,
#login-buttons a {
    text-decoration: none;
}
a:hover{
    text-decoration: none;
    color:@favouriteColor;
}

.container-fluid
{
    padding:0px;
}

#new-smark
{
    width:425px;
}

.main-container
{
    margin-bottom:40px;
}

.loginButtons
{
    float:right;
    margin-right:20px;
}


.timeline {
    position:relative;
}

.fav-only
{
    position:absolute;
    left:0px;
    top:-35px;
    display:hidden;
}

.box {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #EDEDED;
    display: block;
    margin-bottom: 10px;
    width: @boxWidth;
    position:absolute;
    font-family: Georgia;
    font-size:14px;
    
    /*
    -webkit-transition: all 0.3s ease-out;  
     -moz-transition: all 0.3s ease-out;  
       -o-transition: all 0.3s ease-out;  
          transition: all 0.3s ease-out;  
          */
          
}

.box.favourite
{
    border:1px solid @favouriteColor;
}

.box a {
	display:block;
}

.box .inner {
    cursor: pointer;
    padding: @boxPadding;
    width: (@boxWidth - 2 * @boxPadding);
    color: #000000;
    font-size: 14px;
    line-height: 135%;
}

.box .embedly
{
	margin:10px 0px 0px 0px;
}

.box .footer {
    border-top: 1px solid #EDEDED;
    height: @boxFooterHeight;
    line-height: @boxFooterHeight;
    padding: 5px @boxPadding;
    position: relative;

    color: #999999;
    font-family: Arial;
    font-size: 11px;
}

.box .footer .avatar
{
    float:left;
}

.box .footer .util
{
    float:right;
    margin-top:-2px;
}

.box .footer .util .time
{
    display:block;
}

.box .footer:hover .util .time
{
    display:none;
}

.box .footer .util .useredit
{
    display:none;
    float:right;
}

.box .footer:hover .util .useredit
{
    display:block;
}

.box .footer .icons {
    opacity: 0.6;
    cursor:pointer;
}

.box .footer .icons:hover {
    opacity: 1.0;
}

.box .footer .icon-heart
{
    margin-left:15px;
}

.box.favourite .footer .icon-heart
{
    opacity: 1.0;
}



.footer-row
{
    background:#bbbbbb;
    height:@footerHeight;
    position:fixed;
    bottom:0px;
    left:0px;
    padding:0px 20px;
    width:100%;
    font-size:12px;
    
}

.footer-row,
.footer-row a
{
    color:#333333;
    text-decoration:none;
}

.footer-row a:hover
{
    color:#000000;
}

.footer-row span
{
    margin-right:5%;
}

@media (max-width: 767px) {
  body {
    padding:0px;
  }
  .container-fluid
  {
    margin:0px 10px;
  }
  #new-smark
  {
    max-width:@boxWidth - 12;
  }
  .row-fluid>.span1
  {
    display:none;
  }
  textarea { 
    margin-bottom:44px;
  }
}



